<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    {% block head %}
        <title>{% block title %} {{ project.name }}{% endblock %}</title>
    {% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ renderBaseUrlHeader() }}
    <link rel="icon" href="imgs/favicon.ico"/>
    {% block stylesheets %}
        <link rel="stylesheet" href="css/style.css">
    {% endblock %}
    {% block javascripts %}
        <script src="js/jquery-3.6.0.min.js"></script>
        <script src="js/js.cookie.min.js"></script>
        <script src="js/main.js"></script>
        <script src="js/fuse.js"></script>
        <script src="js/search.js"></script>
        <script defer src="js/searchIndex.js"></script>
    {% endblock %}
</head>
<body id="top">
    <main>
        <div id="left">
            {% include 'sidebar.html.twig' %}
        </div>
        <div id="splitter"></div>
        <div id="right">
            <div id="rightInner">
                <section data-search-form class="search">
                    <input type="search" class="search__field" placeholder="Loading .." />
                    <section data-search-results class="search-results search-results--hidden">
                        <header class="search-results__header">
                        <button class="search-results__close">close</button>
                            <h2 class="search-results__title">Search results</h2>
                        </header>
                        <ul class="search-results__entries"></ul>
                    </section>
                </section>
                <div id="navigation">
                    <ul>
                        <li>
                            <a href="namespaces.html" title="List of namespaces">
                                <span>Namespaces</span>
                            </a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="reports/errors.html" title="List of errors">
                                <span>Errors</span>
                            </a>
                        </li>
                        <li>
                            <a href="reports/deprecated.html" title="List of elements with deprecated annotation">
                                <span>Deprecated</span>
                            </a>
                        </li>
                        <li>
                            <a href="reports/markers.html" title="List of markers">
                                <span>Markers</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div id="content">
                    {% block content %}{% endblock %}
                </div>
            </div>
            <div id="footer">
                {{ project.name }}
            </div>
        </div>
    </main>
</body>
</html>
